<p class="card-text">
    <!-- select -->
    {% if article.user == user %}
    {% if comment.comment_select_users.all.count > 0 %}
    <i class="fas fa-heart fa-lg select-button" data-id="{{ article.id }}" data-comment="{{ comment.id }}"
        style="color: crimson;"></i>
    {% else %}
    <i class="far fa-heart fa-lg select-button" data-id="{{ article.id }}" data-comment="{{ comment.id }}"
        style="color: black;"></i>
    {% endif %}
    {% else %}
    {% if comment.comment_select_users.all.count > 0 %}
    <i class="fas fa-heart fa-lg select-button" style="color: crimson;"></i>
    {% else %}
    <i class="far fa-heart fa-lg select-button" style="color: black;"></i>
    {% endif %}
    {% endif %}
</p>