<div class="row pt-5">
  <div class="col-xl-8">
    <textarea id="word_check" name="content"></textarea>
    <script>
      $('#word_check').summernote({
        placeholder: '단어 분석을 원하는 문장을 입력해 주세요.',
        disableDragAndDrop: true,
        toolbar: false,
        tabsize: 2,
        height: 400,
        focus: true,
      });
    </script>
    <br>
    <div class="row">
      <div class="col-xl-12">
        <button class="btn btn-primary float-right" type="button" onclick="words_check()">검사하기</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12" id="word_cloud" style="width: 100%; height: auto;">

      </div>
    </div>
  </div>
  <div class="col-xl-4">

    <div id="word_check_table" style="visibility: hidden;">
      <input class="form-control" id="myInput" type="text" placeholder="Search..">
      <br>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Word</th>
            <th>Count</th>
          </tr>
        </thead>
        <tbody id="myTable">
        </tbody>
      </table>
      <button class="btn btn-secondary btn-block" onclick="word_check_more()">더 보기</button>
    </div>
    <div class="spinner-border text-primary" id="words_check_loading"
      style="position: absolute;top: 0;visibility: hidden;"></div>
    <script>
      $(document).ready(function () {
        $("#myInput").on("keyup", function () {
          var value = $(this).val().toLowerCase();
          $("#myTable tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
    </script>
  </div>
</div>

<script>
  var len;
  var words;
  function words_check() {
    len = 10;
    var text = "";
    for (var i = 0; i < document.getElementsByClassName('note-editable')[2].getElementsByTagName('p').length; i++) {
      text += document.getElementsByClassName('note-editable')[2].getElementsByTagName('p')[i].innerText + "\n"
    }
    $.ajaxSetup({
      cache: false
    });
    $.ajax({
      cache: false,
      beforeSend: function (xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
        document.getElementById('words_check_loading').setAttribute('style', 'position: absolute;top: 0;visibility: visible;')
        document.getElementById('word_check_table').setAttribute('style', 'visibility: hidden;')
        document.getElementById('word_cloud').innerHTML = ""
      },

      url: "{% url 'analysis:words_check' %}",
      type: "post",
      data: {
        'data': text,
      },
      success: function (data) {
        words = data['nouns'];
        document.getElementById('word_check_table').setAttribute('style', 'visibility: visible;')
        document.getElementById('words_check_loading').setAttribute('style', 'position: absolute;top: 0;visibility: hidden;')

        document.getElementById('word_cloud').innerHTML = "<img src='/static/wordcloud/wordcloud" + data['hashing'] + ".jpg' class='mx-auto'/>"
        var table = "";
        if (len >= data['nouns'].length) {
          len = data['nouns'].length;
        }
        for (var i = 0; i < len; i++) {
          table += "<tr>"
            + "<td>" + data['nouns'][i][0] + "</td>"
            + "<td>" + data['nouns'][i][1] + "</td>"
            + "</tr>"
        };
        document.getElementById('myTable').innerHTML = table
      }

    })
  }
  function word_check_more() {
    len += 10;
    $.ajax({
      cache: false,
      type: "get",
      data: {
      },
      success: function (data) {
        var table = "";
        if (len >= words.length) {
          len = words.length;
        }
        for (var i = 0; i < len; i++) {
          table += "<tr>"
            + "<td>" + words[i][0] + "</td>"
            + "<td>" + words[i][1] + "</td>"
            + "</tr>"
        };
        document.getElementById('myTable').innerHTML = table
      }
    });
  }
  function word_check_all() {
    len = words.length;
    $.ajax({
      cache: false,
      type: "get",
      data: {
      },
      success: function (data) {
        var table = "";
        for (var i = 0; i < len; i++) {
          table += "<tr>"
            + "<td>" + words[i][0] + "</td>"
            + "<td>" + words[i][1] + "</td>"
            + "</tr>"
        };
        document.getElementById('myTable').innerHTML = table
      }
    });
  }
</script>