<div class="bg-white mt-4 rounded-lg" style="height:300px; position: sticky; top:50px;">
  <div id="analysis" class="collapse">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item m-1">
        <a class="nav-link active nav-success" data-toggle="pill" href="#spell">맞춤법검사</a>
      </li>
      <li class="nav-item m-1">
        <a class="nav-link" data-toggle="pill" href="#word">단어분석</a>
      </li>
      <li class="nav-item m-1">
        <a class="nav-link" data-toggle="pill" href="#sentiment">감성분석</a>
      </li>
    </ul>
  </div>
  <div id="community" class="collapse">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item m-1">
        <a class="nav-link active" id="a_community_all" data-toggle="pill" href="#community_all">첨삭 게시판</a>
      </li>
      <li class="nav-item m-1">
        <a class="nav-link" data-toggle="pill" href="#community_popular">인기 글</a>
      </li>
      <li class="nav-item m-1">
        <a class="nav-link invisible" id="a_community_form" data-toggle="pill" href="#community_form">글 작성하기</a>
      </li>
      <li class="nav-item m-1">
        <a class="nav-link invisible" id="a_community_search_all" data-toggle="pill"
          href="#community_search_all">검색결과</a>
      </li>
      <li class="nav-item m-1">
        <a class="nav-link invisible" id="a_community_detail" data-toggle="pill"
          href="#community_detail">게시글상세</a>
      </li>
    </ul>
  </div>
</div>